/**** D3js ****/ 


.title {
  font-size: 0.95em;
  font-weight: bold;
}
.x.axis path {
  fill: none;
  stroke: none;
  stroke-width: 2;
}
.x.axis line {
  stroke-width: 1;
  stroke: gray;
  stroke-dasharray: 2 5;
  stroke-dashoffset: 5;
}

.axis {
  font-size: 0.7em;
}

.y.label {
  font-size: 0.7em;
}

.notes { 
  font-size: 0.7em;
}

.departamento, .layer {
  fill: rgba(247,241,225,1);
}
.departamentos {
  stroke: black;
  stroke-width: 0.1;
}
.departamentos path:hover {
  fill: rgba(247,220,200,1);
  cursor: pointer;
}

#graph_01 {
  background-color: rgba(245,245,245,1);
  border: 1px groove rgba(240,240,240,0.5);
}