* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column { 
  -webkit-flex-direction: column; 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: column; 
  flex-direction: column; 
}

.row {	
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.col {	
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;


	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

#navbar-top {
  background-color: silver;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}

#main-section {
	margin-top: 50px;
	overflow-y: none; 
}

#map-container {

}

.vertically-centered {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.row-item-width-1 {
	width: 8.33%;
}

.row-item-width-4 {
	width: 33.32%;
}

.row-item-width-8 {
	width: 66.64%;
}

.row-item-width-12 {
	width: 100%;
}

.logo {
  height: 25px;
}