body {
  margin: 0;
}

header {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  padding: 2em;
}

.header_items {
  height: 5em;
  margin: 1em;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}