/*
Author: Dylson 'n370' Valente Neto
Email: dvalenteneto@santafe.gov.ar
*/

body {
  margin: 0;
}

header {
  width: 100%;
  background: rgba(255,0,0,1);
  position: fixed;
}

section {
  z-index: -1;
  position: relative;
  top: 100px;
}

.box {
  height: 8000px;
  background: rgba(0,255,0,1);
}

.grid {
  display: flex;
  height: 100px;
  align-items: center;
}

.grid_cell {
  flex: 1;
}

.logo {
  width: 200px;
}

.menu_item {
  height: 100%;
  text-align: center;
}