/*
Author: Dylson 'n370' Valente Neto
Email: dvalenteneto@santafe.gov.ar
*/

body {
  background: rgba(255,255,255,1);
  margin: 0; 
  
}
#map {
  width: 960px;
  height: 100px;
}
.centered {
  width: 960px;
  margin: 0 auto 0 auto;
}
.title {
  font-size: 0.95em;
  font-weight: bold;
}
.x.axis path {
  fill: none;
  stroke: none;
  stroke-width: 2;
}
.x.axis line {
  stroke-width: 1;
  stroke: gray;
  stroke-dasharray: 2 5;
  stroke-dashoffset: 5;
}

.axis {
  font-size: 0.7em;
}
.y.label {
  font-size: 0.7em;
}
svg {
  background: rgba(247,241,225,1);
}
.notes { 
  font-size: 0.7em;
}
.departamento.la_capital {
  fill: rgba(255,0,0,1)
}
