/*
Author: Dylson 'n370' Valente Neto
Email: dvalenteneto@santafe.gov.ar
*/

body {
  background: rgba(255,255,255,1);
  margin: 0; 
  font-family: sans-serif;
}
#map {
  margin: 0px;
  width: 100%;
  height: 400px;
}
.centered {
  width: 960px;
  margin: 0 auto 0 auto;
}
.title {
  font-size: 1em;
  font-weight: bold;
}
