/*
Author: Dylson 'n370' Valente Neto
Email: dvalenteneto@santafe.gov.ar
*/

body {
  background-color: white;
  margin: 0; 
  font-family: sans-serif;
}
h1 { 
  text-align: center;
}
.centered_block {
  margin: 10px auto 10px auto;
  display: block;
}
#map {
  margin: 0px;
  height: 600px;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.red-text {
  color: red;
}
